@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0b4749; /* Це колір bg-slate-900, щоб при завантаженні не блимав білий екран */
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url('./wavy-lines.svg');
  background-size: cover;
  user-select: none;
}

